[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group review/training
	owner = group user/Melodie Benmouffek (benmoufm)
[access "refs/for/refs/*"]
	read = group review/training
	read = group user/Melodie Benmouffek (benmoufm)
	push = group review/training
	push = group user/Melodie Benmouffek (benmoufm)
	label-Code-Review = -2..+2 group review/training
	label-Code-Review = -2..+2 group user/Melodie Benmouffek (benmoufm)
	label-Verified = -1..+1 group review/training
	label-Verified = -1..+1 group user/Melodie Benmouffek (benmoufm)
	rebase = group review/training
	rebase = group user/Melodie Benmouffek (benmoufm)
	removeReviewer = group review/training
	removeReviewer = group user/Melodie Benmouffek (benmoufm)
	submit = group review/training
	exclusiveGroupPermissions = read push label-Code-Review label-Verified rebase removeReviewer submit
[access "refs/heads/*"]
	read = group review/training
	read = group user/Melodie Benmouffek (benmoufm)
	create = group review/training
	create = group user/Melodie Benmouffek (benmoufm)
	push = +force group review/training
	push = +force group user/Melodie Benmouffek (benmoufm)
	pushMerge = group review/training
	pushMerge = group user/Melodie Benmouffek (benmoufm)
	exclusiveGroupPermissions = read create push pushMerge
[access "refs/tags/*"]
	push = +force group review/training
	push = group user/Melodie Benmouffek (benmoufm)
	push = +force group user/Melodie Benmouffek (benmoufm)
	exclusiveGroupPermissions = push
