[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/benmoufm
[access "refs/for/refs/*"]
	read = group user/benmoufm
	push = group user/benmoufm
	label-Code-Review = -2..+2 group user/benmoufm
	label-Verified = -1..+1 group user/benmoufm
	rebase = group user/benmoufm
	removeReviewer = group user/benmoufm
	submit = group user/benmoufm
[access "refs/heads/*"]
	read = group user/benmoufm
	create = group user/benmoufm
	push = +force group user/benmoufm
	pushMerge = group user/benmoufm
[access "refs/tags/*"]
	push = group user/benmoufm
	push = +force group user/benmoufm
